*{
    box-sizing: border-box;
    font-family: itim;
}
html {
    background-color: rgb(255, 255, 255);
}

body {
    margin:0;
    padding: 0;
    justify-content: center;
}

.Navbar {
    background-color:  rgb(0, 0, 0);
    margin: 0;
    padding: 0%;
    overflow: hidden;
}

.Navbar li {
    list-style: none;
    float: right;
}

.Navbar img {
    float: left;
    border-radius: 50%;
    max-width: 48px;
    max-height: 48px;
    padding: 4px;
}

.Navbar a {
    display: inline-block;
    text-decoration: none;
    font-family:sans-serif;
    font-weight: bold;
    color: white;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    font-family: itim;
}


.Navbar a:hover:not(.Logo) {
    background-color: rgb(255, 255, 255);
    color: black;
}

.Spacing {
    padding: 2%;
}
.Content_box {
    text-align: center;
    margin-top: 2%;
}


.Content_box ul {
    list-style: none;
    display: inline-block;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 5px solid black;
    padding:0;
    margin: 2%;
    border-radius: 10%;
    transition: background-color .75s, color .75s;
}

.Content_box ul:hover {
    background-color: black;
    color: white;
}


.Content_box img {
    max-width: 350px;
}

.Start_butt{
    margin-top: 2%;
    text-align: center;
}

.Start_butt a {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    color: white;
    padding: 1em;
    border-radius: 10%;
}

.Start_butt a:hover, button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    padding: .9em;
}


.difficulties {
    list-style-type: none;
    display: flex;
    padding: 0;

}

button {
    background-color: black;
    color: white;
    font-size: large;
    border: 0;
    padding: 1em;
    border-radius: 10%;
    margin: 20px;

}
